.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
*.lock
**/Generated.xcconfig
**/Pods/
**/google-services.json
**/GoogleService-Info.plist
firebase_options.dart.bak
.DS_Store
.env
node_modules/
package-lock.json
firestore-debug.log
typescript
